img.link-avatar {
   max-width: 30px;
   height: auto;
}
img.karma-icon {
   max-width: 30px;
   height: auto;
}
.overflow-hidden { overflow:hidden; }
sspan.glyphicon-pencil { font-size: 0.8em; color:grey }
span.glyphicon-wrench { font-size: 0.8em;  }
.commentTime { font-size: 0.7em; color:grey }

.form-group div{
    position:relative;
    margin-right:15px;
}
.form-group-required div:after{
    position:absolute;
    content:'*';
    right:-10px;
    top:0;
}

media (max-width: 600px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.hover-btn {
	display: none;
}

tr:hover .hover-btn {
	display: block;
}


/*
EmojiSymbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/
@font-face {
	font-family: "EmojiSymbols";
	src: url('EmojiSymbols-Regular.woff') format('woff');
	text-decoration: none;
	font-style: normal;
}
.emj {
	font-family: "EmojiSymbols";
	line-height: 1;
}

.emj2 {
	font-family: "emoji";
	line-height: 1;
}

@font-face {
	font-family: emoji;
	src: local('Apple Color Emoji'), local('Android Emoji'),
		local('Segoe UI'), local(EmojiSymbols), local(Symbola),
		url('font/Symbola-Emoji.eot?#iefix') format('embedded-opentype'),
		url('font/Symbola-Emoji.woff') format('woff'),
		url('font/Symbola-Emoji.ttf') format('truetype');
	/* Emoji unicode blocks */
	unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}


/* typeahead */
.typeahead,
.tt-query,
.tt-hint {
  width: 200px;
  height: 30px;
  padding: 8px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}