img.link-avatar {
   max-width: 30px;
   height: auto;
}
img.karma-icon {
   max-width: 30px;
   height: auto;
}
.overflow-hidden { overflow:hidden; }
sspan.glyphicon-pencil { font-size: 0.8em; color:grey }
span.glyphicon-wrench { font-size: 0.8em;  }
.commentTime { font-size: 0.7em; color:grey }

.form-group div{
    position:relative;
    margin-right:15px;
}
.form-group-required div:after{
    position:absolute;
    content:'*';
    right:-10px;
    top:0;
}

media (max-width: 600px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.hover-btn {
	display: none;
}

tr:hover .hover-btn {
	display: block;
}


/*
EmojiSymbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/
@font-face {
	font-family: "EmojiSymbols";
	src: url('EmojiSymbols-Regular.woff') format('woff');
	text-decoration: none;
	font-style: normal;
}
.emj {
	font-family: "EmojiSymbols";
	line-height: 1;
}

.emj2 {
	font-family: "emoji";
	line-height: 1;
}

@font-face {
	font-family: emoji;
	src: local('Apple Color Emoji'), local('Android Emoji'),
		local('Segoe UI'), local(EmojiSymbols), local(Symbola),
		url('font/Symbola-Emoji.eot?#iefix') format('embedded-opentype'),
		url('font/Symbola-Emoji.woff') format('woff'),
		url('font/Symbola-Emoji.ttf') format('truetype');
	/* Emoji unicode blocks */
	unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}