{{>header}}

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Naam</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
{{#each model.users}}  
      <tr>
        <td><a href="/user/{{_id}}">{{username}}</a></td>
        <td>{{email}}</td>
      </tr>
{{/each}}
    </tbody>
  </table>
  
{{>footer}}