{{> header}}

<h1>{{user.username}}</h1>

  <table class="table table-hover">
    <tbody>
      {{form.username.show}}
      {{form.email.show}}
      {{form.password.show}}
    </tbody>
  </table>

{{form.changeButton}}
  
{{> footer}}