{{> header}}
<script > $(document).ready(function(){ $('#mydatepicker').datepicker() }); </script>


<form role="form" method="POST">

{{#each form.fields}}
  {{edit}}
{{/each}}
  
  
  {{form.submitButton}}
</form>


{{> footer}}