<div class="form-group">
    <label for="{{field.name}}">{{field.label}}</label>
    <input class="form-control" type="text" id="mydatepicker" name="{{field.name}}" value="{{value}}" data-date-format="yyyy-mm-dd" >
</div>
