a img.link-avatar {
   max-width: 30px;
   height: auto;
}
.overflow-hidden { overflow:hidden; }
span.glyphicon-pencil { font-size: 0.8em; color:grey }
span.glyphicon-wrench { font-size: 0.8em; color:grey }
.commentTime { font-size: 0.7em; color:grey }

.form-group div{
    position:relative;
    margin-right:15px;
}
.form-group-required div:after{
    position:absolute;
    content:'*';
    color:red;
    right:-10px;
    top:0;
}