a img.link-avatar {
   max-width: 30px;
   height: auto;
}
.overflow-hidden { overflow:hidden; }
span.glyphicon-pencil { font-size: 0.8em; color:grey }
span.glyphicon-wrench { font-size: 0.8em; color:grey }
.commentTime { font-size: 0.7em; color:grey }