{{> header}}

<script > $(document).ready(function(){ $('#mydatepicker').datepicker() }); </script>


<form role="form" method="POST">
	{{form.title.edit}}
	{{form.date.edit}}
	{{form.location.edit}}
	{{form.min.edit}}
	{{form.max.edit}}
	{{form.description.edit}}

	{{form.submitButton}}
</form>


{{> footer}}